@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.create-object-field{
  text-align: left;
  margin: $small-spacing 0;

  h4{
    margin: 0 $small-spacing 0 0;
    display: block;
    text-align: left;
  }

  input{
    width: 100%;
  }
}
