@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.create-object{
  margin: $small-spacing;
  stroke: $shade3;

  .list-container{
    margin-left: $small-spacing;
    .list-item{
      border: 1px solid $shade1;
      background: $shade3;
      padding: $small-spacing;
      margin-top: $small-spacing;
      border-radius: $border-radius;
      display: flex;
      &:first-of-type{ margin-top: 0; }
      &-content{ flex: 1; }
      .trash-button{ margin: 0 $small-spacing; }
    }

    &__action{
      margin-top: $small-spacing;
      display: flex;

      .Select{
        width: 200px;
        margin-right: $small-spacing;
      }
    }
  }
}
