@import '../../resources/styles/_variables.scss';
@import '../../resources/styles/_mixins.scss';

.sidebar-item{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: $small-spacing;
  border: 0;
  transition: background-color 0.33s ease-in-out;
  outline: none;
  position: relative;
  cursor: pointer;
  background-color: $shade1;
  backface-visibility: hidden;

  &:hover, &.active{ background-color: $base; }

  &.big-icon{
    // justify-content: center;
    // .item-icon{ width: $closed-menu-icon-size; }
  }

  .item-icon{
    // width: 18px;
    position: absolute;
    margin: auto;

    svg{
      stroke: $shade3;
      width: inherit;
      height: 100%;
    }
  }

  .item-title{
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $shade3;
    margin-left: 40px;
  }
}
