@import "_variables";

// MaterialUI buttons
button[class^='MuiButtonBase'], div[class*=' MuiButtonBase']{
  background-color: $shade2;
  color: $white;

  &:hover{
    background-color: $shade1;
  }
}

.square-button{
  margin: $small-spacing $small-spacing/2;
}

.inactive-button{
  opacity: 0.4;
  pointer-events: none;
}
