@import '../../resources/styles/_variables.scss';
@import '../../resources/styles/_mixins.scss';

.construct-type{
  margin: $small-spacing;

  .module-title-container{
    padding: $small-spacing/2 $small-spacing;
    background-color: $shade1;
    display: flex;
    align-items: center;

    .module-icon{
      svg{
        width: 50px;
        height: 50px;
        stroke: $shade3;
      }
    }

    .module-title-data{
      margin: $medium-spacing;

      .module-title{
        display: block;
        font-size: 30px;
        font-weight: bold;
        outline: none;
        text-align: left;
        color: $shade3;
        min-width: 100px;
        border-bottom: $border-style;
        margin-bottom: $small-spacing;
        padding-bottom: $small-spacing;
      }
      .module-slug{
        text-align: left;
      }
    }
  }
  .constructor-container{
    .field{
      position: relative;
      background-color: $shade3;
      padding: $small-spacing;
      border-top: 1px solid rgba($base, 0.2);
      display: flex;
      align-items: center;

      .field-name, .slug-name, .Select{
        width: 150px;
        max-width: 90%;
        text-align: left;
        margin-right: $medium-spacing;
      }

      .name-container{
        .field-name{
          border-bottom: $border-style;
          margin-bottom: $small-spacing/2;
        }
  
        .slug-name{
        }
      }

      .Select{
      }

      .field-description{
        max-width: 200px;
        overflow: auto;
      }

      .remove-button{
        cursor: pointer;
        margin: auto;
        position: absolute;
        top: 0; bottom: 0; right: $small-spacing;
        display: flex;
        justify-content: center;
        align-items: center;

        .remove-icon{
          svg{
            $dim: 20px;
            width: $dim;
            height: $dim;
            stroke: $base;
          }
        }
      }
    }
  }

  .button-container{
    display: flex;
    button{
      margin: 0;
      flex: 1;

      &:first-of-type{
        border-right: 1px solid $white;
      }
    }
  }
}
