@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.trash-button{
  cursor: pointer;
  margin: auto;
  top: 0; bottom: 0; right: $small-spacing;
  display: flex;
  justify-content: center;
  align-items: center;

  .trash-icon{
    svg{ stroke: $base; }
  }
}
