@import '../../resources/styles/_variables.scss';
@import '../../resources/styles/_mixins.scss';

.construct-type{
  .module-title-container{
    background-color: $shade1;
    display: flex;
    align-items: center;

    .module-icon{
      svg{
        width: 50px;
        height: 50px;
        stroke: $shade3;
      }
    }
    .module-title{
      display: block;
      font-size: 30px;
      font-weight: bold;
      margin: $medium-spacing;
      outline: none;
      text-align: left;
      color: $shade3;
    }
  }
  .constructor-container{
    .field{
      background-color: $shade3;
      padding: 10px 5px;
      border-top: 1px solid rgba($base, 0.2);
      display: flex;
      align-items: center;

      .field-name, .slug-name, .Select{
        width: 150px;
        max-width: 90%;
        text-align: left;
        margin-right: $medium-spacing;
      }

      .field-name{
      }

      .slug-name{

      }

      .Select{

      }
    }
  }
}
