@import "_variables";

// MaterialUI buttons
button[class^='MuiButtonBase'], div[class*=' MuiButtonBase']{
  background-color: $shade1;
  color: $white;

  &:hover{
    background-color: $base;
  }
}

.square-button{
  margin: $small-spacing $small-spacing/2;
}
