@import "_variables";

// MaterialUI buttons
button[class^='MuiButtonBase'], div[class*=' MuiButtonBase']{
  background-color: $greenLight;
  color: $white;

  &:hover{
    background-color: $greenDark;
  }
}
