@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.create-object{
  margin: $small-spacing;
  stroke: $shade3;

  .list-container{
    margin-left: $small-spacing;
    .list-item{
      display: flex;
      &-content{ flex: 1; }
      .trash-button{ margin: 0 $small-spacing; }
    }
  }
}
